body {
    font-family: Arial, sans-serif;
  }
  
  .texto-menor {
    font-size: 13px;
  }
  
  .divs-facilidades {
    width: 325px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .div-novidades {
    width: 325px;
    margin: 0 auto;
  }
  
  .botao-lilas {
    background-color: #9353FF;
    color: white;
    border: none;
  }
  
  .verde-limao {
    color: #DAFF01;
  }
  
  @media (min-width: 768px) {
    .div-novidades {
      width: 696px;
    }
  }
  